```
# MINIMAX API Key（去 https://platform.MINIMAX.com 申请）
MINIMAX_API_KEY=sk-cp-3onIEkZ_dn5ccfX4gTrps2XkqJJCNniNuNeSVr4_uMqgRredARy6TX6LS4EU89q-30Fqo8jh266LOH8FGficYf72Cuc-Q5oHkkIt8704GosQouSey8zSOzw

# MINIMAX API 地址
MINIMAX_BASE_URL=https://api.minimaxi.com/v1

# MINIMAX Chat 模型
MINIMAX_MODEL=MiniMax-M3

# MINIMAX Embedding 模型
MINIMAX_EMBEDDING_MODEL=embo-01

# MINIMAX Embedding Groupid
MINIMAX_EMBEDDING_GROUPID = 2040854513904001659
```